*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(231, 151, 227);
}


.h2{
    color: #f9eaff;
}
.body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.board{
    display: flex;
    position:absolute;
    top: 20%;
    left: 17%;
    background-color: #6a6a6b;
}

.white{
    position: relative;
    width: 100px;
    height: 400px;
    background:#f9eaff;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: -3px -3px 6px rgba(255,255, 255, 0.9),
    3px 3px 5px black;


}

.white h1
{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%,-10%);
    user-select: none;
}


.white:active{
    box-shadow: -3px -3px 6px rgba(255,255, 255, 0.9),
    3px 1px 0px rgba(0, 0, 0, 0.1);

}

.black{
    width: 60px;
    height: 200px;
    background:black;
    color: #f9eaff;
    margin: 0 -30px;
    border-radius: 10px;
    box-shadow: -3px -3px 6px rgba(255,255, 255, 0.9),
    3px 3px 5px black;
    z-index: 1;
}

.black h2{
    align-items: center;
    margin-top: 150px;
    text-align: center;
}


.black:active{
    box-shadow: -3px -3px 6px rgba(255,255, 255, 0.9),
    3px 1px 0px rgba(0, 0, 0, 0.1);

}